.analisys{
    max-width: 880px;
    
    margin: auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    text-align: center;
    overflow: hidden;
    
}

.analisys__title{
    margin: auto;    
    padding: 25px;
    
}

.analisys__text{
    text-align: justify;
    
}

.analisys__image{
    float: right;
    border-radius: 70%;
    margin-right: -70px;
    overflow: hidden;
}

.analisys__image-left{
    float: left;
    margin-left: -70px;
}

