.header {
  max-width: 880px;
  margin: 45px 0 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  align-self: center;
  padding-bottom: 41px;
}

@media screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .header__logo {
    width: 126px;
    padding: 28px 167px 32px 27px;
  }
}
