@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;800&family=Rubik:wght@300;400;600;800&display=swap');
@import url(../vendor/normalize.css);

@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/essays.css);
@import url(../blocks/essay.css);
@import url(../blocks/analysis.css);
@import url(../blocks/diagrams.css);

/* 
font-family: 'Golos Text', Arial, sans-serif;
font-weight: 400 600 800 ;

font-family: 'Rubik', Arial, sans-serif;
font-weight: 300 400 600 800 ;

primary: #1c1917
secondary: #44403c
*/
